<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ParserFootballTotal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ParserFootballTotal.Properties.Settings>
            <setting name="settingAllMatchInAllTotalUnder05" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInHomeTotalUnder05" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInAwayTotalUnder05" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInAllTotalUnder25" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInHomeTotalUnder25" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInAwayTotalUnder25" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInAllFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInHomeFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInAwayFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInAllTotalUnder05" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInHomeTotalUnder05" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInAwayTotalUnder05" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInAllTotalUnder25" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInHomeTotalUnder25" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInAwayTotalUnder25" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInAllFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInHomeFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInAwayFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInAllTotalUnder05" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInHomeTotalUnder05" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInAwayTotalUnder05" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInAllTotalUnder25" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInHomeTotalUnder25" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInAwayTotalUnder25" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInAllFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInHomeFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInAwayFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInAllTotalUnder15" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInHomeTotalUnder15" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInAwayTotalUnder15" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInAllCleanSheets" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInHomeCleanSheets" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInAwayCleanSheets" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInAllTotalUnder15" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInHomeTotalUnder15" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInAwayTotalUnder15" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInAllCleanSheets" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInHomeCleanSheets" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInAwayCleanSheets" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInAllTotalUnder15" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInHomeTotalUnder15" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInAwayTotalUnder15" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInAllCleanSheets" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInHomeCleanSheets" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInAwayCleanSheets" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInAllBothFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInHomeBothFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingAllMatchInAwayBothFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInAllBothFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInHomeBothFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingFirstTimeInAwayBothFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInAllBothFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInHomeBothFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="settingSecondTimeInAwayBothFailedToScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cbAllMatchInAllTotalUnder05" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cbAllMatchInHomeTotalUnder05" serializeAs="String">
                <value>False</value>
            </setting>
        </ParserFootballTotal.Properties.Settings>
    </userSettings>
</configuration>